<app-add-task></app-add-task>
<div class="container">
  <div class="row border-bottom d-flex justify-content-center align-items-center py-2" *ngFor="let item of todos">
    <div class="col">{{item.id}}</div>
    <div class="col">{{item.title}}</div>
    <div class="col">{{item.description}}</div>
    <div class="col">{{item.status? 'Done': 'Not Done'}}</div>
    <div class="col"> <button id="buttonDelete-{{item.id}}" class="btn btn-danger" (click)="onDeleteTaskById(item.id)">ลบ</button> </div>
  </div>
</div>
